<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EurobankDemo Tests">
    <test name="Login">
        <parameter name="id" value="12345678"/>
        <parameter name="password" value="abcdefgh"/>
        <classes>
            <class name="eurobankdemo.testcases.LoginPOTest"/>
        </classes>
    </test>
    <!--<test name="Money transfer">-->
        <!--<parameter name="recipient" value="Jan Nowak"/>-->
        <!--<parameter name="amount" value="100"/>-->
        <!--<parameter name="title" value="Sample money transfer title."/>-->
        <!--<classes>-->
            <!--<class name="eurobankdemo.testcases.MoneyTransferPOTest"/>-->
        <!--</classes>-->
    <!--</test>-->
</suite>